# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
nosetests.xml
pytest_cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env
.env.*

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
